---
layout: ""
page_title: "FSC Provider"
description: |-
  Manage FSC with terraform
---

# FSC Provider

The FSC provider provides resources to interact with the FSC APIs.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

### Configure provider with environment variables
It is optionally possible to configure the provider by passing environment variables to terraform
```bash
export FSC_GROUP_ID=fsc-demo
export FSC_CONTROLLER_ENDPOINT=https://controller
export FSC_MANAGER_ENDPOINT=https://manager
export FSC_CA_CERTS=-----BEGIN CERTIFICATE....END CERTIFICATE-----
export FSC_CONTROLLER_CLIENT_CERT=-----BEGIN CERTIFICATE....END CERTIFICATE-----
export FSC_CONTROLLER_CLIENT_KEY=-----BEGIN PRIVATE KEY....END PRIVATE KEY-----
export FSC_MANAGER_CLIENT_CERT=-----BEGIN CERTIFICATE....END CERTIFICATE-----
export FSC_MANAGER_CLIENT_KEY=-----BEGIN PRIVATE KEY....END PRIVATE KEY-----
```

{{ .SchemaMarkdown | trimspace }}
